[submodule "vscode-codeql-starter"]
	path = vscode-codeql-starter
	url = https://github.com/github/vscode-codeql-starter/
[submodule "NodeGoat"]
	path = NodeGoat
	url = https://github.com/OWASP/NodeGoat
