@import '../../styles/app';

.information{
    float:left;
}

.G8header{
    font-size:40px;
    color:black;

}

.p.whatg8{
    font-size: 36px;
}

.whog8{
    font-size: 36px;
}

.whyg8{
    font-size: 36px;
}
