// .page-title{
//     margin-left: 1em;
// }

  // ul {
  //     border: 1px solid yellow;
  //     // margin-top: 2em;
  //     width: 14em;
  //     margin-left: 2em;
  // }

  #location {
    margin-left: -18em;
    margin-top: 2em;
  }
  .sidenav {
    border: 1px solid yellow;
    width: 14em;
    margin-left: 2em;
    position: relative;
    margin-top: 1em;
    height: 27em;
}

#content {
  margin-left: 3em;
  // padding-right: 1.5em;
  margin-top: 3em;
}
  // .sidenav a {
  //   // padding: 10px 8px 10px 16px;
  //   padding-bottom: 1.5em;
  //   text-decoration: none;
  //   font-size: 20px;
  //   color: white;
  //   display: block;
  //   width: 10em;
  //   padding-left: 1.5em;
  //   padding-top: 1.5em;
  // }

  
  
//   .sidenav a:hover {
//     color: #f1f1f1;
//   }
  
//   .main {
//     margin-left: 160px; /* Same as the width of the sidenav */
//     font-size: 28px; /* Increased text to enable scrolling */
//     padding: 0px 10px;
//   }
  
//   @media screen and (max-height: 450px) {
//     .sidenav {padding-top: 15px;}
//     .sidenav a {font-size: 18px;}
//   }