// You are here  
#location {
  margin-left: -18em;
  margin-top: 2em;
}

// each page's content styles
#content {
  margin-left: 3em;
  margin-top: 3em;
}

// G8 Glossary's Table
table {
  width: 100%;
}

td { //contents in table
  border: 1px solid black;
  border-collapse: collapse;
  padding-right: 1em;
  padding-bottom: 2em;
  padding-left: 0.5em;
  background-color: white;
  color: blue;
  font-size: 1.25em;
}

th { // table headings
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1em;
  background-color: white;
  color: blue;
  font-weight: bold;
}

.question {
  text-decoration: underline;
}