
span.glyphicon-link.UploadFile {
  font-size: 20em;
}
span.glyphicon-folder-close.UploadFile {
  font-size: 20em;
}
span.glyphicon-file.UploadFile {
  font-size: 20em;
}

span.glyphicon-link.UploadFile:hover {
  background: rgba(78, 78, 78, 0.7);
  border-radius: 25px;
}
span.glyphicon-folder-close.UploadFile:hover {
  background: rgba(78, 78, 78, 0.7);
  border-radius: 25px;
}
span.glyphicon-file.UploadFile:hover {
  background: rgba(78, 78, 78, 0.7);
  border-radius: 25px;
}